// Color Variable

$lemony-blob: #fffad1;
$blue-blob: #deebf8;
$background: #f5f7fb;
$dark-blue: #293264;
$dark-blue-2: #4d5b9e;
$white: #f5f7fb;
$selected: #dbdef0;
$correct: #94d7a2;
$incorrect: #f8bcbc;
