.quiz-page {
	padding: 8rem 25% 5rem 25%;
	@include flex-column-center;

	background: url(/public/blob_top.png) no-repeat,
		url(/public/blob_bottom.png) no-repeat;
	background-position: right -50%, left bottom;
	background-size: 25rem, 15rem;
}

.quiz-questions {
	width: 80%;
	border-bottom: 0.2rem solid $selected;
	padding-bottom: 2rem;

	margin-bottom: 4rem;

	.questions {
		font-size: 2.2rem;
		font-weight: 700;
		color: $dark-blue;
		margin-bottom: 2rem;
	}

	.choices-box {
		@include flex-row-start;

		.choice {
			&:not(:last-child) {
				margin-right: 2rem;
			}

			padding: 0.5rem 2rem;
			border: 0.16rem solid $dark-blue-2;

			border-radius: 1rem;
			font-size: 1.5rem;
			font-weight: 500;
			color: $dark-blue;
			cursor: pointer;
		}
	}
}

.button-check {
	padding: 1.5rem 4rem;
	color: $background;
	background-color: $dark-blue-2;
	font-size: 1.5rem;
	border-radius: 1rem;
	cursor: pointer;
	transition: all 0.3s;

	&:hover {
		cursor: pointer;
		background-color: rgba($dark-blue, 0.9);
	}

	&:active {
		transform: translateY(0.2rem) scale(0.95);
	}
}
